<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Radio And Select</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="databinding">
		<h3>Radio</h3>
		<input type="radio" id="black" value="Black" v-model="picked"/>	Black
		<input type="radio" id="white" value="White" v-model="picked"/> White
		<h3>Radio element clicked : {{picked}}</h3>
		<hr/>
		<h3>Select</h3>
		<select v-model="languages">
			<option disabled value="">Please select one</option>
			<option>Java</option>
			<option>JavaScript</option>
			<option>Php</option>
			<option>C</option>
		</select>
		<h3>The languages Selected is : {{languages}}</h3>
	</div>

	<script type="text/javascript">
		var vm = new Vue({
			el: '#databinding',
			data: {
				picked: 'White',
				languages: "Java"
			}
		})
	</script>

</body>
</html>