<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue中的列表渲染</title>
	<script src="./vue.js"></script>
</head>
<body>
	
	<div id="app">
		<div v-for="(item, index) of list" 
		     :key="item.id">
			{{item.text}} --- {{index}}
		</div>
		
		<!-- 模版占位符 -->
		<template v-for="(item, index) of list" >
			
			<div>
				{{item.text}}
			</div>		
			
		</template>

	</div>

	<script type="text/javascript">
		// push pop shift unshift splice sort reverse 数组操作
		var vm = new Vue({
			el: "#app",
			data: { list: [ //模拟后端返回数据
						{id: "1212", text: "hello"},
						{id: "1213", text: "world"}
			]}
		})
	</script>

</body>
</html>